// ------------------------------------------------------------------------
// --- Footer ---
// ------------------------------------------------------------------------

// ---------------
// Small up

footer {
    background: $footer-bg;
    
    .title-area {
        margin: rem-calc(80 0 40 0);
        
        .title {
            display: block;
            
            img {
                display: block;
                height: ($footer-logo-height / 3) * 5;
                margin: 0 auto;
            }
            
            span {
                font-family: $head-font-family;
                font-style: italic;
                font-size: rem-calc(28);
                line-height: $footer-logo-height;
                color: $footer-title-color;
                display: block;
                text-align: center;
                margin-top: rem-calc(15);
            }
        }
        
        .social {
            margin-top: rem-calc(40);
            
            h6 {
                text-align: center;
                color: $footer-color;
            }
            
            ul {
                list-style: none;
                margin: 0;
                display: block;
                width: 100%;
                text-align: center;
                
                li {
                    display: inline-block;
                    padding: rem-calc(0 5);
                    
                    a {
                        display: block;
                        line-height: $footer-logo-height;
                        padding: rem-calc(0 10);
                        color: $footer-color;
                        font-size: rem-calc(18);
                        transition: color 0.15s ease;
                        
                        &:hover {
                            color: $footer-color-hover;
                        }
                    }
                }
            }
        }
    }
    
    .bottom-info {
        @if (lightness($footer-bg) > 50) {
            border-top: 1px solid darken($footer-bg, 6%);
        } @else {
            border-top: 1px solid lighten($footer-bg, 6%);
        }
        
        font-size: rem-calc(14);
        
        .bottom-left {
            margin: $footer-bottom-padding 0 0 0;
            line-height: rem-calc(40);
            text-align: center;
        }
        
        .bottom-right {
            margin: 0 0 $footer-bottom-padding 0;
            text-align: center;
            
            a {
                display: block;
                line-height: rem-calc(40);
                color: $footer-color;
                transition: color 0.15s ease;
                
                &:hover {
                    color: $footer-color-hover;
                }
                
                i {
                    margin-left: rem-calc(20);
                }
            }
        }
    }
}

// ---------------
// Medium up

@include breakpoint(medium) {
    footer {
        .title-area {
            height: $footer-logo-height;
            margin: (($footer-title-area-height - $footer-logo-height) / 2) 0;
            
            .title {
                float: left;
                display: inline-block;
                
                img {
                    display: inline-block;
                    height: $footer-logo-height;
                    margin: rem-calc(0 10 0 0);
                    vertical-align: top;
                }
                
                span {
                    display: inline-block;
                    text-align: left;
                    margin-top: 0;
                    font-size: rem-calc(24);
                }
            }

            .social {
                float: right;
                margin-top: 0;
                
                h6 {
                    text-align: left;
                    display: none;
                    line-height: $footer-logo-height;
                    margin-right: rem-calc(20);
                }

                ul {
                    display: inline-block;
                    width: auto;
                    text-align: left;
                    margin-right: rem-calc(-15);
                }
            }
        }

        .bottom-info {
            .bottom-left {
                float: left;
                margin: $footer-bottom-padding 0;
            }

            .bottom-right {
                float: right;
                margin: $footer-bottom-padding 0;
            }
        }
    }
}

// ---------------
// Large up

@include breakpoint(large) {
    footer {
        .title-area {
            .social {
                h6 {
                    display: inline-block;
                }
            }
        }
    }
}